header{
    text-align: center;
}
.logo{
    width: 300px;
    height: 360px;
}

.Objetivos{
    padding-top:0.5cm;
}

body{
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    background-image:url(Imagenes/Logopit_1710445555162.jpg);
}

.imgobje{
    width: 290px;
    height: 250px;   
}

.headerlist{
    text-align: center;
    list-style-type: none;
    align-items: baseline;
}

.list{
    background-image: url(Imagenes/03ac4bc2-83a2-4785-a5a6-8fe13a04f55d.png);
    float: center;
    float: center;
    text-align: center;
    align-items: baseline;  
    padding: auto;
}

.Resumen{
    padding-top: 1.5cm;
}
    
footer{
    display: flex;
    justify-content: space-around;        
    background-image: url(Imagenes/03ac4bc2-83a2-4785-a5a6-8fe13a04f55d.png);
    padding: 20px 0;
}

.bloque{
    flex: 1;
    padding: 0 20px;
}


.img2{
    width: 658px;
    height: 500px;
}

.img1{
    width: 500px;
    height: 500px;
}

.Tecnologias{
    background-color: grey;
}

.imgresu{
    width: 270px;
    height: 200px;
}

.subtitles{
    background-image: url(Imagenes/03ac4bc2-83a2-4785-a5a6-8fe13a04f55d.png);
    padding: auto;
}

